img {
  width: 240px;
}

img.big {
  width: 1080px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: firebrick;
  padding: 24px;
  font-weight: bold;
}

a.login {
  float: right;
  font-size: 16px;
}

a {
  color: white;
  padding-left: 10px;
}

h1 {
  font-size: 32px;
  color: white;
}

nav {
  background-color: #404040;
  padding: 22px;
}

nav span {
  float: right;
}
